deepface
easydict
Flask
flask_sqlalchemy==3.1.1
keras==2.14.0
numpy
opencv_python==4.8.0.76
opencv_python_headless==4.8.1.78
ultralytics
werkzeug
flask_caching
requests
pytest
sqlalchemy
faker
opencv-python
flasgger
argparse
pefile
joblib
sklearn
scikit-learn